@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

header {
  padding: 50px 15px 0px;
}

header h1 {
  color: red;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  font-family: "Righteous", cursive;
}
main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

div {
  padding: 0px;
}
.searchBar {
  display: block;
}
.searchInput {
  width: 100%;
  padding: 15px;
  border: none;
  background: none;
  background-color: white;
  border-radius: 8px;
  color: darkslategrey;
  font-size: 20px;
  font-weight: 300;
  transition: 0.4s ease-out;
  box-shadow: 5px 10px 18px #888888;
}
.searchInput:focus {
  box-shadow: 0px 0px 8px 3px #152238;
}
.searchButton {
  width: 8%;
  padding: 15px;
  border-radius: 8px;
  color: darkslategrey;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  margin-left: 3px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}
.moviePoster {
  height: 230px;
  width: 170px;
}

.favoriteButton {
  font-size: 25px;
  border: none;
  background: none;
  cursor: pointer;
  margin: 10px;
  margin-left: 40%;
  color: white;
}
.favoriteButton:hover {
  color: red;
}

.movieTitle {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: block;
}

@media screen and (max-width: 500px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    border: white;
  }
  .moviePoster {
    height: 185px;
    width: 137px;
  }
  .flip-card {
    background-color: transparent;
    margin-top: 20px;
    padding-top: 12px;
    height: 195px;
    width: 147px;
    perspective: 1000px;
  }
}

@media screen and (min-width: 501px) and (max-width: 980px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    border: white;
  }
  .moviePoster {
    height: 230px;
    width: 170px;
  }
  .flip-card {
    background-color: transparent;
    margin-top: 20px;
    padding-top: 12px;
    height: 250px;
    width: 150px;
    perspective: 1000px;
  }
}

@media screen and (min-width: 981px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  .row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    border: white;
  }
  .moviePoster {
    height: 230px;
    width: 170px;
  }
  .flip-card {
    background-color: transparent;
    margin-top: 20px;
    padding-top: 12px;
    height: 250px;
    width: 150px;
    perspective: 1000px;
  }
}

.results {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10%;
  padding: 60px;
  box-shadow: 5px 10px 18px #888888;
}
h2 {
  text-align: center;
  padding-bottom: 10px;
}

/* https://www.w3schools.com/howto/howto_css_flip_card.asp*/

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
}

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}
.movieName {
  padding: 10px;
  font-size: large;
  font-family: "Righteous", cursive;
  text-align: left;
}
.movieYear {
  padding-left: 10px;
  font-size: medium;
  text-align: left;
}
